<footer class="bg-blue-900 text-white">
   <div class="p-5">
      Desenvolvido por <a href="https://www.linkedin.com/in/nicolas-hudson-de-mello-889b2632" class="font-bold">Nícolas Hudson de Mello</a>
   </div>
</footer>
