<div id="load-overlay" class="overlay" style="display: block">
   <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<header class="mb-4">
   <h1 class="bg-gradient-to-tr font-black from-blue-900 p-10 text-4xl text-center text-white to-blue-500">Configurações do Robô</h1>
</header>
